Repository Gyl05/orangen: changes, and which Jenkins stages are due for each by the changed paths.
All: Build-image, deployment

Build-image:
              steps{
                  withCredentials([usernamePassword(credentialsId: 'jenkins-to-Aliyun-dockerhub', passwordVariable: 'DOCKER_PASSWORD', usernameVariable: 'DOCKER_USERNAME')]){
                      sh """
  ...

deployment:
              steps{
                  sh """
                      echo '部署镜像 docker-compose or k8s.'
                      pwd
                      whoami
                      docker pull registry.cn-hongkong.aliyuncs.com/fruitbucket/orangen:latest
  ...

wish build on txcloud
  Jenkinsfile
Due: deployment

test jksfile
  html/index.html
Due: Build-image, deployment

拆开试试
  Jenkinsfile
  html/index.html
Due: Build-image, deployment

改回podman
  Jenkinsfile
Due: deployment

xx
  Jenkinsfile
Due: deployment

..
  Jenkinsfile
Due: deployment

change sth
  html/index.html
Due: Build-image, deployment

以为自己懂了装饰器
  .gitignore
  src/test/装饰器.py
Due: none

bskcabc
  src/test/装饰器.py
Due: none

装饰器 你以为你懂了？
  src/test/装饰器.py
Due: none

装饰器我恨你
  src/schema/解耦简化问题.py
  src/test/setattr的问题吗.py
  src/test/装饰器先后问题.py
Due: none

simple
  src/test/装饰器先后问题.py
Due: none

simplify
  src/test/装饰器先后问题.py
Due: none

getattr-baiz使用
  src/test/getattr_use.py
  src/test/test_deco.py
Due: none

Path conditions:
  Build-image: any of: html/*
  deployment: (any of: html/*) or (any of: Jenkinsfile)
